
# Storage
storage_primary_port=7450
storage_primary_console_port=7451
storage_secondary_port=7452
storage_secondary_console_port=7453

# Clamav
clamd_port=7460

# Validators
validator_mustang_port=7470
validator_kosit_port=7471